<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Monu</display-name>
  <context-param>
    <param-name>filePath</param-name>
    <param-value>F:/Registration.txt</param-value>
  </context-param>
  <context-param>
    <param-name>filePathForStudents</param-name>
    <param-value>F:/Student.txt</param-value>
  </context-param>
  <context-param>
    <param-name>data.store</param-name>
    <param-value>db</param-value>
  </context-param>
  <context-param>
      <param-name>ConnectionUrl</param-name>
      <param-value>jdbc:mysql://localhost:3306/sport</param-value>
  </context-param>
  <context-param>
      <param-name>driverName</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>coachStudents</servlet-name>
    <servlet-class>com.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>